<%- include('../partials/header') %>
<div class="pokedex">
<img class="pokedex-title" src="/images/pokedex.png" alt="Pokedex">
<img class="pokedex-img" src="/images/pokedex-img.png" alt="Pokedex image">
</div>
<form action="/pokemon/search" method="POST" class="poke-search">
  <button type="submit" class="btn btn-light random-btn">Random</button>
  <input type="text" name="query" required="true" class="input-text"placeholder="Enter Pokemon Name" id="input-search">
  <button type="submit" class="btn btn-danger search-btn">Search</button>
</form>

<div class="pokemon-content-container">

<% if(pokemon.name) { %>
  <div class=poke-img>
    <img src="<%= pokemon.sprites.front_default %>" height= 150rem alt="pokemon-default-img">
    <img src="<%= pokemon.sprites.front_shiny %>" height= 150rem alt="pokemon-shiny-img">
  </div>
  <div class="poke-info">
    <h3><%= pokemon.name.charAt(0).toUpperCase() + pokemon.name.slice(1)%></h3>

  </div>

  <% }%>

</div>





<%- include('../partials/footer') %>