<%- include('../partials/header') %>
<div class="pokedex">
<img class="pokedex-title" src="/images/pokedex.png" alt="Pokedex">
<img class="pokedex-img" src="/images/pokedex-img.png" alt="Pokedex image">
</div>
<form action="/pokemon/search" method="POST" class="poke-search">
  <button type="submit" class="btn btn-light random-btn">Random</button>
  <input type="text" name="query" required="true" class="input-text"placeholder="Enter Pokemon Name" id="input-search">
  <button type="submit" class="btn btn-danger search-btn">Search</button>
</form>

<div class="pokemon-content-container">

<% if(pokemon.name) { %>
  <div class=poke-img>
    <img src="<%= pokemon.sprites.front_default %>" height= 150rem alt="pokemon-default-img">
    <img src="<%= pokemon.sprites.front_shiny %>" height= 150rem alt="pokemon-shiny-img">
  </div>
  <div class="add-delete">
    <h3><%= pokemon.name.charAt(0).toUpperCase() + pokemon.name.slice(1)%></h3>
    <h4>ID: <%= pokemon.id %></h4>
    <% if (user.team.some(p => {return p.id == pokemon.id})) { %>
    <form action="/pokemon/<%= pokemon.id %>/team?_method=DELETE" method="POST">
      <% } else { %>
      <form action="/pokemon/<%= pokemon.id %>/team" method="POST">
        <% } %>
        <input type="text" hidden name="name" value="<%= pokemon.name %>">
        <input type="text" hidden name="id" value="<%= pokemon.id %>">
        <input type="text" hidden name="img" value="<%= pokemon.sprites.front_default %>">
        <button class="btn btn-danger"><%= user.team.some(p => {return p.id === pokemon.id}) ? "Remove Pokemon" : "Add Pokemon" %></button>
      </form>
  </div>
  <div class='poke-ability'>
    <h5>Abilities: <% pokemon.abilities.forEach(p => { %>
    </h5>
    <ul>
      <%= p.ability.name.charAt(0).toUpperCase() + p.ability.name.slice(1) %>
    </ul>
    <% }) %>
  </div>
</div>
<div class='measurements'>
  <p>Height: <%= pokemon.height / 10; %> m</p>
  <p>Weight: <%= pokemon.weight / 10; %> kg</p>
</div>
<div class="poke-stats">
  <h2>HP: </h2>
  <h3><%= pokemon.stats[0].base_stat %></h3>
  <h2>Attack: </h2>
  <h3><%= pokemon.stats[1].base_stat %></h3>
  <h2>Defense: </h2>
  <h3><%= pokemon.stats[2].base_stat %></h3>
  <h2>Special Attack: </h2>
  <h3><%= pokemon.stats[3].base_stat %></h3>
  <h2>Special Defense: </h2>
  <h3><%= pokemon.stats[4].base_stat %></h3>
  <h2>Speed: </h2>
  <h3><%= pokemon.stats[5].base_stat %></h3>
</div>
  <% }%>

</div>





<%- include('../partials/footer') %>